*,
*::before,
*::after {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

:root {
  --font-family: "Inter", sans-serif;

  --cardinal: #bb2337;
  --golden-glow: #ffe087;
  --index-hight: 15;
  --index-middle: 10;
  --navy-blue: #005bc0;
  --nero: #252525;
  --raw-umber: #735c00;
  --white: #ffffff;
}

html {
  height: 100%;

  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;

  font-family: var(--font-family);
  color: var(--raw-umber);

  background-color: var(--golden-glow);
  background-image: linear-gradient(transparent 50%, var(--golden-glow)), url("../assets/svg/pattern.svg");
  background-size: 50px;
}

body.is-playing {
  background: none;
}

main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.button {
  width: 148px;
  min-height: 80px;
  padding: 24px;

  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;
  border-radius: 80px;
  box-shadow: 0 1px 3px 1px rgba(115, 92, 0, 0.2), 0 1px 2px 0 rgba(115, 92, 0, 0.3);
  cursor: pointer;
}

.button-x {
  background-image: url("../assets/svg/x.svg");
}

.button-o {
  background-image: url("../assets/svg/o.svg");
}

.header {
  display: flex;
  justify-content: center;
}

.header__sign {
  padding: 15px 20px 10px;

  background-color: var(--raw-umber);
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
}

.header__title {
  margin: 0;

  font-size: 30px;
  color: var(--white);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px 0 30px;
}

.footer__wrapper {
  display: flex;
  align-items: center;

  column-gap: 3px;
}

.footer__icon {
  color: var(--raw-umber);
}

.footer__copyright {
  font-size: 12px;
}

.footer__github-link {
  font-weight: 600;
  color: var(--raw-umber);
}

.footer__github-link:hover {
  color: var(--cardinal);
}

.is-playing .intro {
  display: none;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  row-gap: 20px;
}

.intro__sign {
  font-size: 24px;
}

.intro__buttons {
  display: flex;

  column-gap: 15px;
}

.game {
  display: none;
}

.is-playing .game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  row-gap: 35px;
}

.field {
  display: grid;

  grid-template-columns: repeat(3, 115px);
  grid-template-rows: repeat(3, 115px);
}

.field__cell {
  width: 120px;
  height: 120px;

  background-image: url("../assets/img/empty-cell.png");
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}

.subtitle {
  display: flex;
  align-items: center;

  font-size: 24px;
  column-gap: 10px;
}

.player {
  display: block;
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.player-x {
  background-image: url("../assets/svg/x.svg");
}

.player-o {
  background-image: url("../assets/svg/o.svg");
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--index-middle);

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  transform: scale(1.1);
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.7s cubic-bezier(0.61, 1, 0.88, 1), transform 0.7s cubic-bezier(0.61, 1, 0.88, 1), visibility 0.7s cubic-bezier(0.61, 1, 0.88, 1);

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal.is-active {
  transform: scale(1);
  visibility: visible;
  opacity: 1;

  transition: opacity 0.7s cubic-bezier(0.61, 1, 0.88, 1), transform 0.7s cubic-bezier(0.61, 1, 0.88, 1);

  pointer-events: auto;
}

.modal__wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 60px 69px;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--nero);
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.7s cubic-bezier(0.61, 1, 0.88, 1), visibility 0.7s cubic-bezier(0.61, 1, 0.88, 1);
}

.is-active .modal__overlay {
  visibility: visible;
  cursor: pointer;
  opacity: 0.6;
}

.modal__content {
  position: relative;
  z-index: var(--index-hight);

  display: grid;
  min-width: 300px;
  max-width: 500px;
  padding: 20px 20px 40px;

  text-align: center;

  background-color: var(--white);
  border-radius: 40px;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);

  justify-items: center;
  row-gap: 20px;
}

.modal__subtitle {
  font-weight: 600;
}

.modal__description {
  max-width: 290px;
  margin: 0;

  font-size: 16px;
}

.modal__button {
  width: 167px;
  margin-top: 15px;
  padding: 18px 48px;

  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;

  background-color: var(--navy-blue);
  border: none;
  border-radius: 56px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
